.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.greeting-container {
  display: flex;
  align-items: center;
}

.greeting {
  margin: 0;
}

.name-input {
  height: 1.5em;
  margin-left: 0.5em;
}

.edit-button,
.save-button {
  margin-left: 0.5em;
}
.toggle-content {
  /*  border: 4px solid ; Light border color */
  padding: 10px; /* Add padding */
  margin-top: 5px; /* Add some margin to separate from the icon */
  background-color: #f856d3;
  font-size: x-small;
  border-radius: 5px;
  height: 36px;
  padding: 4px;
}
.title {
  font-size: 24px; /* Set font size for the title */
}

.label {
  font-size: 16px; /* Set font size for the labels */
}
